:root {
    --color-bg: rgb(255, 255, 255);
    --color-dark-gray: rgb(77, 77, 77);
    --color-light-gray: rgb(121, 121, 121);
    --color-gray: rgb(194, 194, 194);
    --color-light: #fafafa;
    --color-green: green;
    --color-red: red;
    --color-tablet-lou-dark: rgb(197, 203, 211);
    --color-tablet-light: aliceblue;
  }
  
  /* Reset styles */
  * {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-bg);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
    display: block;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  address {
    font-style: normal;
  }